//!<...Обнуление>

@import "nullstyle.scss";

//!<Oбнуление...>
//-------------------------------------------------------
//!<...Контейнер>

.container {
  //max-width: ;
  margin: 0 auto;
  box-sizing: content-box;
  will-change: transform;
}

//!<Контейнер...>
//-------------------------------------------------------
//!<...Общие стили>

@font-face {
  font-family: raleway_f;
  src: url(../../fonts/raleway-regular.woff2);
}

@font-face {
  font-family: raleway_f;
  src: url(../../fonts/raleway-black.woff2);
  font-weight: 900;
}

:root {
  --index: calc(1vw + 1vh); //расчет размера шрифта, взависимости от размера экрана
  --text: #e7e7e0;
  --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

body {
  //font-size: ;
  font-family: raleway_f, sans-serif;
  color: #fff;
  background-color: #010101;
  line-height: 1.55;
}

//!<Общие стили...>
//-------------------------------------------------------
//!<...Шапка>

//!<Шапка...>
//-------------------------------------------------------
//!<...Контент>

//_____________________1 блок______________________

.main__header {
  position: relative;
}

.main__header::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url(../../images/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.5);
}

.header__layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden; //скрываем то, что будет выходить за границу при параллакс эфекте
  position: relative;
}

.layers__header {
  //делаем так, чтобы заголовок двигался в 2 раза медленнее
  transform: translate(0, calc(var(--scrollTop) / 2));
  will-change: transform; //чтобы данный слоям уделить большее аппаратного внимания
  z-index: 1;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--text);
  text-shadow: 0 0 15px #9d822b;
  transition: var(--transition); //плавная анимация
}

.layers__caption {
  font-size: calc(var(--index) / 1.175); //высчитывает размер текста
  letter-spacing: calc(var(--index) / 3.5); //высчитывает размер между буквами
  margin-top: calc(var(--index) * -0.75); //высчитывает размера отступа сверху
}

.layers__title {
  font-size: calc(var(--index) * 2.5);
  letter-spacing: calc(var(--index) / 2.25);
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform; //чтобы данный слоям уделить большее аппаратного внимания
  z-index: 2; //чтобы заголовок скрывался под слоями, кроме заднего фона (.layer__base)
  transition: var(--transition); //плавная анимация
}

.layer__base {
  //делаем так, чтобы задний фон двигался в 2 раза медленнее
  transform: translate(0, calc(var(--scrollTop) / 2));
  z-index: 0;
}

.layer__midle {
  //делаем так, чтобы центральный фон двигался в 2.5 раза медленнее
  transform: translate(0, calc(var(--scrollTop) / 2.5));
}

.layer__front {
  //делаем так, чтобы передний фон двигался в 5.7 раза медленнее
  transform: translate(0, calc(var(--scrollTop) / 5.7));
}

//_____________________2 блок______________________

.main-article {
  --main-article: translate3d(0, calc(var(--scrollTop) / -10), 0);
  min-height: 100vh; //чтобы контент не выходил за рамки
  background-size: cover;
  background-color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.main-article__content {}

.main-article__header {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7.5);
  font-weight: 900;
  transform: var(--main-article);
  will-change: transform;
  transition: var(--transition); //плавная анимация
}

.main-article__paragraph {
  max-width: calc(var(--index) * 30);
  font-size: calc(var(--index) * 0.9);
  margin-top: calc(var(--index) * 1);
  transform: var(--main-article);
  transition: var(--transition); //плавная анимация
  will-change: transform;
}

.main-article__copy {
  position: absolute;
  bottom: calc(var(--index) * 2.5);
  opacity: 0.45;
  font-size: calc(var(--index) * 0.75);
  letter-spacing: calc(var(--index) / 7.5);
}

//!<Контент...>
//-------------------------------------------------------
//!<...Подвал>

//!<Подвал...>
//-------------------------------------------------------
